body {
    margin: 0;
    background: #0d0d0d;
    font-family: "Segoe UI", Arial, sans-serif;
    color: white;
    overflow: hidden;
    text-align: center;
}

/* Canvas ajustado a pantalla completa */
canvas {
    display: none;
    background: #111;
    border: 3px solid #444;
    margin: 0;                 /* ← quitado margen */
    box-shadow: 0 0 20px #00f2ff;
    width: 100vw;              /* ← ocupa ancho completo */
    height: 100vh;             /* ← ocupa alto completo */
}

/* Pantalla inicio */
#startScreen {
    position: absolute;
    top: 20%;
    width: 100%;
}

#startScreen h1 {
    font-size: 3em;
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff;
}

#startBtn {
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    background: #00eaff;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

#startBtn:hover {
    background: white;
}

/* Pantalla Game Over */
#gameOverScreen {
    position: absolute;
    top: 30%;
    width: 100%;
    display: none;
}

#gameOverScreen h2 {
    font-size: 2.5em;
    color: red;
    text-shadow: 0 0 12px red;
}

/* Barra de error */
#errorBar {
    height: 5px;
    background: red;
}
/* telefono*/
#touchControls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    pointer-events: none;
}

#btnUp, #btnDown {
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.15);
    border-radius: 50%;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    user-select: none;
}
